* {
  box-sizing: border-box;
}

body {
  font-family: "work Sans", sans-serif;
}



.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}


/*small*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/*mediu*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/*Large*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* start header */
.header{
  padding: 20px;
}
.header .container{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}
.header .logo {
 width: 60px;
}
.header .link{
  position: relative;
}
.header .link .icon{
  width: 30px;
  display: flex;
  flex-wrap: wrap; 
  /* في حالة صغر شاشة يرجعو لسطر */
}
.header .link .icon .span{
  background-color: black;
  margin-bottom: 5px;
}
.header .link .icon .span:first-child{
  height: 3px;
  width: 100%;
  background-color: black;
}
.header .link .icon .span:nth-child(2){
  height: 3px;
  width: 100%;
}
.header .link .icon .span:nth-child(3){
  height: 5px;
  width: 100%;
}
