:root {
  --main-coler: #10cab7;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "work Sans", sans-serif;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/*small*/
@media (min-width: 768px) {
  .container {
    width: 750px;

  }
}

/*mediu*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/*Large*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*------------------ start header ------------------*/
.header {
  padding: 20px;
}

.header .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header .logo {
  width: 60px;
}

.header .link {
  position: relative;
}

.header .link .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  /* في حالة صغر شاشة يرجعو لسطر */
}

.header .link .icon span {
  background-color: black;
  margin-bottom: 5px;

}

.header .link .icon span:first-child {
  height: 3px;
  width: 100%;
}

.header .link .icon span:nth-child(2) {
  height: 3px;
  width: 60%;

}

.header .link .icon span:nth-child(3) {
  height: 5px;
  width: 100%;
}

.header .link:hover .icon span:nth-child(2) {
  width: 100%;
}

/* link list */
.header .link ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 6px;
  min-width: 200px;
  position: absolute;
  right: 0;
  top: calc(100%+15px);
  background-color: #f6f6f6;
  display: none;
  z-index: 1;
  border-radius: 5px;
}

.header .link:hover ul {
  display: block;

}

.header .link ul::before {
  content: "";
  border: 10px solid;
  position: absolute;
  right: 0px;
  top: -20px;
  border-color: transparent transparent #f6f6f6 transparent;
}

.header .link ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}

.header .link ul li a:hover {
  padding-left: 25px;
}

.header .link ul li:not(:last-child) a {
  border-bottom: 2px solid;
  border-bottom-color: #e4e4e4;

}

/*------------------ end header ------------------*/
/*------------------ start  landing ------------------*/
.landing {
  background-image: url(../imege/landing.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;

}

.landing .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 320px;
  max-width: 100%;

}

.landing .intro-text h1 {
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  color: var(--main-coler);
}

.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
  color: #fffefe;

}




/*------------------ end  landing ------------------*/
/*------------------ start features  ------------------*/
.features {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6;

}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;

}

.features .feat {
  padding: 20px;
  text-align: center;
}

.features .feat i {
  color: var(--main-coler);
  font-size: 27px;

}

.features .feat h3 {
  font-weight: 800px;
  margin: 30px 0;
}

.features .feat P {
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}

/*------------------ end features  ------------------*/
/* start components */
.spectiol {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}

.spectiol+p {
  margin: -30px 0 0;
  font-size: 22px;
  text-align: center;
  color: #333;
}

@media (max-width: 500px) {
  .spectiol-heading {
    font-size: 75px;
  }

  .spectiol-heading+p {
    font-size: 19px;
  }
}

/* end components */

/* start services */
.services {
  padding-top: 60px;
  padding-bottom: 60px;

}

.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;

}

.services .services-content .srv {
  display: flex;
  margin-top: 100px;
}

@media (max-width:699PX) {
  .services .services-content .srv .text{
    flex-direction: column;
    text-align: center;
  }
  .services .services-content .srv .h3{
    flex-direction: column;
    margin-right: 167px;
  }
}

.services .services-content .srv i {
  color: var(--main-coler);
  flex-basis: 40px;
  /*content width */
  margin-top: 2px;
  font-size: 30px;


}

.services .services-content P {
  margin: 10px 0;
  max-width: 300px;
  color: #777;
}

.services .services-content .text {
  flex: 1;
  margin: 0;
  justify-content: center;
}

.services h3 {
  margin: 0px;
}

.services .image {

  position: relative;
  text-align: center;
}

.services .image img {
  width: 260px;
  height: 260px;
  margin-top: 20px;
  opacity: 0.8;

}

.services .image::before {
  content: "";
  background-color: #333;
  width: 50px;
  height: calc(100% + 80px);
  position: absolute;
  top:-30px;
  right: 0;
  z-index: -1;

}
.col3{
  padding-top:200px ;
  padding-right:0;
}
@media(max-width:1199px){
.imege-media  {
  display: none;
}}

/* end services */
/*start  portfolio */
.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;

}

.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 5px;
  margin-top: 80px;
}
.portfolio .card{
  background-color: #f6f6f6d8;
  width: 200px;
  height: 200px;
  text-align: center;
  border-radius: 5px;
}
.portfolio .card P{
box-sizing: border-box;
display: none;

}
.portfolio .card:hover P{
 display: block;
 width: fit-content;
 background-color: #f6f6f6d8 ;
 border-radius: 5px;

  }

.portfolio .card img{
  width: 100%;
  /* height: 80%; */
}


/* end portfolio */